.thumbnail {
    margin-top: 30px;
    border-radius: 50%;
    height: 130px;
    width: 130px;
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredientHeader {
    margin: 30px 0px 20px 20px;
    font-size: 17px;
    font-weight: bold;
}

.ingredientList {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.square {
    height: 20px;
    width: 20px;
    border-radius: 3;
    background-color: rgb(144, 197, 197);
}

.legendContainer {
    display: flex;
    gap: 5px;
}

.chart {
    height: 120px;
    width: 120px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 20px;
}

.displayVisuals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.instructions {
    margin: 20px;
}